@import "../../../../../styles.scss";

.trigger {
  color: $primary-text;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  margin-bottom: 50px;

  img{
    display: block;
    height: 200px;
  }

  h4 {
    font-size: 24px;
    color: $primary-dark;
  }

  p {
    font-size: 16px;
    color: $primary-text;

  }

  .text{
    border-top: 4px solid $highlight-primary;
    padding: 25px;
    width: 100%;
    .upper-line{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;

      .right{
        p{
          color: $price-color;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

    .lower-line{
      display: flex;
      justify-content: space-between;

      p{
        .title{
          font-weight: bold;
          font-size: 18px;
        }        
      }
    }
  }
}
