<div class="chatbot" [ngClass]="{ show: showChatbot }">
  <div
    class="chatbot-header collapse"
    (click)="onChatbotClick($event.target)"
  >
    <h3 class="collapse">Chatbot</h3>
  </div>
  <div class="chatbot-body">
    <div class="list-messages" #messagesContainer>
      <p class="timestamp">{{ timestamp }}</p>
      <div *ngFor="let message of messages">
        <message
          class="message"
          [message]="message"
          [ngClass]="{
            'left-message': !message.userOwner,
            'right-message': message.userOwner
          }"
          [selectedImage] = "selectedFile.src? selectedFile.src:''"
        ></message>
      </div>
    </div>
    <div class="actions">
      <div class="input-message">
        <label for="file-upload" class="custom-file-upload">
          <img src="../../assets/attach-file.png" alt="attachment" />
        </label>
        <input id="file-upload" #imageInput
        type="file"
        accept="image/*"
        (change)="processFile(imageInput,$event)"/>
          <input
          class="input-text-message"
          type="text"
          [(ngModel)]="textInput"
          placeholder="Type text here"
          (keyup)="onKey($event)"
        />
        <button type="submit" (click)="sendMessage()">
          <img src="../../assets/send 1.png" alt="airplane" />
        </button>
      </div>
    </div>
  </div>
</div>
